Package: com.mtac.symbols
Name: Symbols
Depends: firmware (>= 13.0)
Architecture: iphoneos-arm
Description: Easy access to Apple's SF Symbols
Maintainer: MTAC
Author: MTAC
Section: Utilities
Version: 2.0
Installed-Size: 648
